
<div class="card custom-card cardOne mt-1 ">
  <ng-content select=".green"></ng-content>
  <div class="card-header text-center" >لیست کارها
  </div>
  <div class="card-body">
<div class="col-12 d-flex mt-1">
  <table  class="table table-striped table-bordered">
    <thead class="text-center">
    <tr>
      <th class=" col-1">#</th>
      <th class=" col-2">عنوان</th>
      <th class=" col-4">توضیحات</th>
      <th class=" col-1">انجام شده</th>
      <th class=" col-1" >ویرایش</th>
      <th class=" col-1" >حذف</th>
    </tr>
    </thead>
    <tbody *ngIf="list.length>0" >
    <tr *ngFor="let i of list"  appmouse>
      <th class="col-1 td-wrap text-center">{{i['id']}}</th>
      <th class="col-2 td-wrap">{{i['title']}}</th>
      <th class="col-4 td-wrap">{{i['description']}}</th>
      <th class="col col-1 td-wrap" style="text-align: center">
        <img *ngIf="i['completed']" src="assets/img/check.png">
        <img *ngIf="!i['completed']" src="assets/img/checkEmpty.png">
      </th>
      <td class="col-1" style="text-align: center">
        <img src="assets/img/pencil.png" class="imgAction" (click)="EditeTask(i)"></td>
      <td class="col-1" style="text-align: center" >
        <img src="assets/img/cross.png" class="imgAction" (click)="DeleteTask(i)"></td>
    </tr>
    </tbody>
  </table>

</div>
  </div>
</div>
