.cardOne{
  direction: rtl;
  margin-bottom: 15px;
  padding: 0;
  width: 90%;
}
.custom-card{
  border-radius: 10px;
  -webkit-box-shadow: -1px 3px 20px -2px #000000;
  box-shadow: -1px 3px 20px -2px #DDDDDD;
}

.table{
  border: 1px solid black;
  width: 75% !important;
  margin-right: auto;
  margin-left: auto;

}
.btnSabt{
  background-color: #70AF85 !important;color: white;width: 80px !important;
  margin-left: 5px;
}
.btnSabt:hover{
  transform: translateY(-2px) !important;
  transition: all 0.2s ease-in-out;
  color: white;
  background-color: #97BFB4 !important;
}


.td-wrap{
  word-wrap:break-word
}
.imgAction{
  cursor: pointer
}
thead{
  background-color: #84A9AC;box-shadow: inset 1px 1px 10px 0 #000000;color: white;font-size: 17px
}
.card-header{
  background-color: #D3E4CD
}
